/* CSS RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* CSS RESET END */

/* Import styles */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
/* Import styles end */


#blog-hero {
	height: 100vh;
	background: url(../images/bg-img.jpg) center/cover no-repeat fixed;
}
.container {
	margin: auto;
    width: 50%;
    padding: 10px;
}

.blog-title {
	margin: auto;
	font-family: 'Bebas Neue', cursive;
	font-size: 10em;
	color: aliceblue;
}

.underline {
	border-bottom: 4px black solid;
}

#blog-main {
	height: 100vh;
	background: green;
}

#blog-footer {
	height: 100vh;
	background: blue;
}

/* All media queries */

/* medium display */
@media (min-width: 481px) and (max-width:768px) {
	body {
		/* properties that only apply to tablets */
	}
}

/* small display only */
@media (max-width:480px) {
	body {
		/* properties that only apply to phones */
	}
}