/* Root stored variables and colors */
:root {
	--main-radius: 5px;
	--main-padding: 5px;
	--primary-color: rgba(13, 110, 139, 0.75);
	--overlay-color: rgba(0, 0, 0, 0.85);
	--menu-speed: 0.75s;
  }


  /* Reset for margins and padding and set all elements to border-box */
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

/* Set the body styles for fonts and sizing */
  body {
	font-family: 'Bitter', cursive;
	font-size: 16px;
  }

  /* blog heading grid */
  .blog-hero {
	height: 100vh;
	display: grid;
	background: url(../images/bg-img.jpg) center/cover no-repeat fixed;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 3fr 1fr;
	gap: 0px 0px;
	grid-template-areas:
	  "blog-heading"
	  "blog-subheading"
	  "blog-nav";
  }
  
  .blog-heading { 
	  grid-area: blog-heading; 
	  color: #fff;
	  margin: 0;
	  padding: 0;
	  font-family: 'Bebas Neue', serif;
	  text-align: center;
	  font-size: 3em;
	  letter-spacing: 0.1em;
	  border-bottom: 4px #fff solid;
	  position: absolute;
	  top: 40%;
	  left: 50%;
	  transform: translateX(-50%) translateY(-50%);
	}
  
  .blog-subheading { 
	  grid-area: blog-subheading;
	  font-style: italic;
	  color: #fff;
	  margin: 0;
	  padding: 0;
	  text-align: center;
	  font-size: 0.5em;
	  letter-spacing: 0.1em;
	  position: absolute;
	  top: 65%;
	  left: 50%;
	  transform: translateX(-50%) translateY(-50%);
	}

  /* main grid container */




	/* blog footer */
	.blog-footer { 
		grid-area: blog-footer;
		background-color: red;
		border-radius: var(--main-radius);
		  padding-top: var(--main-padding);
	   }

	   img {
		   width: 100%;
	   }

	   .blog-article_title {
		font-family: 'Bebas Neue', serif;
		text-decoration: none;
	   }

	   .card-container {
		   margin: 0 auto;
		   max-width: 1000px;
		   display: grid;
		   grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
		   gap: 20px;
		   
	   }

	   .card {
		   box-shadow: 0 0 3px rgba(0, 0, 0 ,0.1);
	   }

	   .card__image {
		   width: 100%;
		   display: block;
	   }

	   .card__content {
		   line-height: 1.5;
		   font-size: 0.9em;
		   padding: 20px;
		   background: #fafafa;
	   }

	   .card__content h3 {
		   font-size: 2em;
		   border-bottom: 2px #1A2A4C solid;
	   }

	   .card-content > p:first-of-type {
		   margin-top: 0;
	   }

	   .card-content > p:last-of-type {
		   margin-bottom: 0;
	   }

	   .card__info {
		   padding: 15px;
		   display: flex;
		   justify-content: center;
		   align-items: center;
		   color: #555;
		   background: #eee;
		   font-size: 0.8em;
		   border-bottom: 2px solid #ccc;
	   }

	   .card__link {
		   color: #2D7DD2;
		   text-decoration: none;
		}

		.card__link:hover {
			text-decoration: underline;
		}