* {
	padding: 0;
	margin: 0;
}

:root {
	--main-radius: 5px;
	--main-padding: 5px;
  }

  body {
	font-family: 'Bebas Neue', 'Bitter', serif, cursive;
  }

  .grid-container {
	height: 100vh;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 100vh 22vh 22vh 22vh 22vh 12vh;
	gap: 2px 0px;
	grid-template-areas:
	  "blog-hero"
	  "content-1"
	  "content-2"
	  "content-3"
	  "content-4"
	  "blog-footer";
  }
  
  .blog-footer { 
	  grid-area: blog-footer;
	  background-color: red;
	  border-radius: var(--main-radius);
  	  padding-top: var(--main-padding);
	 }
  
  .content-1 { 
	  grid-area: content-1; 
	  background-color: blue;
	  border-radius: var(--main-radius);
  	  padding-top: var(--main-padding);
	}
  
  .content-2 { 
	  grid-area: content-2; 
	  background-color:rebeccapurple;
	  border-radius: var(--main-radius);
  	  padding-top: var(--main-padding);
	}
  
  .content-3 { 
	  grid-area: content-3; 
	  background-color: yellow;
	  border-radius: var(--main-radius);
  	  padding-top: var(--main-padding);
	}
  
  .content-4 { 
	  grid-area: content-4; 
	  background-color: green;
	  border-radius: var(--main-radius);
  	  padding-top: var(--main-padding);
	}
  
  .blog-hero {
	/* height: 100vh; */
	display: grid;
	background: url(../images/bg-img.jpg) center/cover no-repeat fixed;
	grid-template-columns: 1fr;
	grid-template-rows: 3fr 1fr;
	gap: 0px 0px;
	grid-template-areas:
	  "blog-heading"
	  "blog-subheading";
	grid-area: blog-hero;
  }
  
  .blog-heading { 
	  grid-area: blog-heading; 
	  color: #fff;
	  margin: 0;
	  padding: 0;
	  text-align: center;
	  font-size: 2em;
	  position: absolute;
	  top: 40%;
	  left: 50%;
	  transform: translateX(-50%) translateY(-50%);
	}
  
  .blog-subheading { 
	  grid-area: blog-subheading; 
	  font-family: 'Bitter', serif;
	  font-style: italic;
	  color: #fff;
	  margin: 0;
	  padding: 0;
	  text-align: center;
	  font-size: 0.5em;
	  position: absolute;
	  top: 60%;
	  left: 50%;
	  transform: translateX(-50%) translateY(-50%);
	}
  